<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ge.music">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:replace="android:name"
        android:name=".base.GraduationEraMusic"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashActivityTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            android:label="主页"/>

        <activity
            android:name=".media.MVActivity"
            android:theme="@style/TranslucentTheme"
            android:label="视频播放"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:label="用户注册"/>

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            android:label="用户登录"/>

        <activity
            android:name=".activity.LoginWithVCodeActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            android:label="免密码登录"/>

        <activity
            android:name=".activity.ResetPasswordActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"
            android:label="重置密码"/>

    </application>

</manifest>